Adafruit-BBIO==1.2.0
Adafruit-Blinka==8.22.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==3.0.2
adafruit-circuitpython-requests==4.0.2
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
lgpio==0.2.2.0
Pillow==10.2.0
pyftdi==0.55.0
pyserial==3.5
pyusb==1.2.1
requests==2.31.0
RPi.GPIO==0.7.1
smbus2==0.4.3
sysv-ipc==1.1.0
typing_extensions==4.10.0
urllib3==2.2.1